---
import { getCollection } from 'astro:content';
import ExerciseLayout from '../../layouts/Exercise.astro';
import { removeStripes } from '../../utils/string';

import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const exerciseEntries = await getCollection('exercises');
  return exerciseEntries.map(entry => ({
    params: { 
      slug: entry.slug 
    }, 
    props: { 
      entry, 
    },
  }));
}

interface Props {
  entry: CollectionEntry<'exercises'>
}


const { entry } = Astro.props;

const splitSlug = entry.slug.split('/')
const courseSlug = splitSlug[1]
const courseTitle = removeStripes(courseSlug)
const levelTitle = removeStripes(splitSlug[0])
const courseExercises = await getCollection('exercises', ({ slug }) => slug.includes(courseSlug)) 

const { Content } = await entry.render();
---

<ExerciseLayout frontmatter={entry.data} slug={entry.slug}>
	<aside slot="aside" class="side-navbar flex-none w-1/4 hidden md:hidden lg:block sticky overflow-y-scroll p-4 bg-slate-100">
		<nav class="bg-slate-50 shadow rounded-lg">
      <div class="p-4 bg-purple-100 rounded-t-lg">
        <p class="text-xs capitalize mb-1">{levelTitle}</p>
        <p class="text-sm capitalize">{courseTitle}</p>
      </div>
			<ol class="rounded-b-lg">
				{
					courseExercises.map(({ data, slug }, index) => (
						<li>
              <a 
                href={`/exercises/${slug}`} 
                class:list={[
                  'pl-8 py-4 pr-4 block border-b-2 border-slate-200 overflow-hidden whitespace-nowrap text-ellipsis',
                  {'text-white font-semibold bg-purple-800 border-purple-800': slug == entry.slug},
                  {'border-none rounded-b-lg': index == courseExercises.length - 1}
                ]}>
                {data.title}
              </a>
            </li>
					))
				}
			</ol>
		</nav>
	</aside>

  <Content />
</ExerciseLayout>