---
import { getCollection } from "astro:content";
import CourseLayout from "../layouts/Course.astro";
import Footer from "../components/Footer.astro";
import { removeStripes } from "../utils/string";
import { linkTo } from "../utils/url";

import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const exerciseEntries = await getCollection("courses");
  return exerciseEntries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }));
}

interface Props {
  entry: CollectionEntry<"courses">;
}

const { entry } = Astro.props;

const splitSlug = entry.slug.split("/");
const [levelSlug, courseSlug] = splitSlug;
const courseTitle = removeStripes(courseSlug);
const levelTitle = removeStripes(levelSlug);
const courseEntries = await getCollection("courses", ({ slug }) =>
  slug.includes(courseSlug),
);

const { Content } = await entry.render();

const { prev, next } = getPrevNextNavigation(courseEntries, entry.slug);

function getPrevNextNavigation(
  entries: CollectionEntry<"courses">[],
  sourceSlug: string,
) {
  let prev: CollectionEntry<"courses"> | undefined = undefined;
  let next: CollectionEntry<"courses"> | undefined = undefined;

  const index = entries.findIndex(({ slug }) => slug.includes(sourceSlug));
  if (index > 0) {
    prev = entries[index - 1];
  }
  if (index < entries.length - 1) {
    next = entries[index + 1];
  }

  return {
    prev,
    next,
  };
}
---

<CourseLayout frontmatter={entry.data} slug={entry.slug}>
  <aside
    slot="aside"
    id="side-navbar"
    class="side-navbar flex-none w-1/4 hidden md:hidden lg:block sticky overflow-y-scroll p-4 bg-slate-100"
  >
    <button
      class="side-navbar__button-close button-close"
      onclick="onSideNavbarCloseClick()"
    >
      <svg
        class="w-6 h-6 text-gray-700"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18 18 6m0 12L6 6"></path>
      </svg>
    </button>
    <nav class="bg-slate-50 shadow rounded-lg">
      <a
        href={linkTo(`${levelSlug}/${courseSlug}`)}
        class="p-4 bg-purple-100 rounded-t-lg block hover:underline"
        data-link-search
      >
        <p class="text-xs capitalize mb-1">{levelTitle}</p>
        <p class="text-sm capitalize">{courseTitle}</p>
      </a>
      <ol class="rounded-b-lg">
        {
          courseEntries.map(({ data, slug }, index) => (
            <li>
              <a
                href={linkTo(slug)}
                class:list={[
                  "p-4 text-sm block border-b-2 border-b-slate-200 overflow-hidden whitespace-nowrap text-ellipsis hover:underline",
                  {
                    "font-semibold border-l-4 border-l-purple-800 text-purple-900 side-navbar-current":
                      slug == entry.slug,
                  },
                  {
                    "border-b-none rounded-b-lg":
                      index == courseEntries.length - 1,
                  },
                ]}
                data-link-search
              >
                {data.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
  </aside>

  <Content />

  <Fragment slot="after-editor">
    <aside class="mb-8">
      {
        !next && (
          <div class="px-4 text-center my-10">
            <p class="mb-2">
              Selamat, kamu telah menyelesaikan course
              <span class="capitalize font-semibold">{courseTitle}</span>! 🎉
            </p>
            <p>
              Kamu bisa lanjut ke course berikutnya melalui menu navigasi di
              sebelah kiri.
            </p>
          </div>
        )
      }

      <nav class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="course-prev-nav text-center md:text-left px-4">
          {
            prev && (
              <a
                href={linkTo(prev.slug)}
                class="inline-block px-4 py-3 rounded-lg shadow border border-purple-800 hover:bg-purple-100"
                data-link-search
              >
                <p class="text-sm mb-1">Sebelumnya</p>
                <p class="text-purple-900 font-semibold">{prev.data.title}</p>
              </a>
            )
          }
        </div>
        <div class="crouse-next-nav text-center md:text-right px-4">
          {
            next && (
              <a
                href={linkTo(next.slug)}
                class="inline-block px-4 py-3 rounded-lg shadow border border-purple-800 hover:bg-purple-100"
                data-link-search
              >
                <p class="text-sm mb-1">Selanjutnya</p>
                <p class="text-purple-900 font-semibold">{next.data.title}</p>
              </a>
            )
          }
        </div>
      </nav>
    </aside>
    <Footer />
  </Fragment>
</CourseLayout>
