---
import { getCollection } from "astro:content";
import CourseLayout from "../layouts/Course.astro";
import Footer from "../components/Footer.astro";
import { removeStripes } from "../utils/string";

import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const exerciseEntries = await getCollection("courses");
  return exerciseEntries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }));
}

interface Props {
  entry: CollectionEntry<"courses">;
}

const { entry } = Astro.props;

const splitSlug = entry.slug.split("/");
const courseSlug = splitSlug[1];
const courseTitle = removeStripes(courseSlug);
const levelTitle = removeStripes(splitSlug[0]);
const courseEntries = await getCollection("courses", ({ slug }) =>
  slug.includes(courseSlug),
);

const { Content } = await entry.render();

const { prev, next } = getPrevNextNavigation(courseEntries, entry.slug);

function getPrevNextNavigation(
  entries: CollectionEntry<"courses">[],
  sourceSlug: string,
) {
  let prev: CollectionEntry<"courses"> | undefined = undefined;
  let next: CollectionEntry<"courses"> | undefined = undefined;

  const index = entries.findIndex(({ slug }) => slug.includes(sourceSlug));
  if (index > 0) {
    prev = entries[index - 1];
  }
  if (index < entries.length - 1) {
    next = entries[index + 1];
  }

  return {
    prev,
    next,
  };
}
---

<CourseLayout frontmatter={entry.data} slug={entry.slug}>
  <aside
    slot="aside"
    id="side-navbar"
    class="side-navbar flex-none w-1/4 hidden md:hidden lg:block sticky overflow-y-scroll p-4 bg-slate-100"
  >
    <button
      class="side-navbar__close-button"
      onclick="onSideNavbarCloseClick()"
    >
      <svg
        class="w-6 h-6 text-gray-700"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18 18 6m0 12L6 6"></path>
      </svg>
    </button>
    <nav class="bg-slate-50 shadow rounded-lg">
      <div class="p-4 bg-purple-100 rounded-t-lg">
        <p class="text-xs capitalize mb-1">{levelTitle}</p>
        <p class="text-sm capitalize">{courseTitle}</p>
      </div>
      <ol class="rounded-b-lg">
        {
          courseEntries.map(({ data, slug }, index) => (
            <li>
              <a
                href={`/${slug}`}
                class:list={[
                  "pl-8 py-4 pr-4 block border-b-2 border-slate-200 overflow-hidden whitespace-nowrap text-ellipsis",
                  {
                    "text-white font-semibold bg-purple-800 border-purple-800":
                      slug == entry.slug,
                  },
                  {
                    "border-none rounded-b-lg":
                      index == courseEntries.length - 1,
                  },
                ]}
              >
                {data.title}
              </a>
            </li>
          ))
        }
      </ol>
    </nav>
  </aside>

  <Content />

  <Fragment slot="after-editor">
    <aside class="mb-8">
      <nav class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div class="text-center md:text-left">
          {
            prev && (
              <a
                href={`/${prev.slug}`}
                class="flex flex-col p-4 hover:text-purple-800"
              >
                <span>Sebelumnya</span>
                <span class="font-semibold text-lg">{prev.data.title}</span>
              </a>
            )
          }
        </div>
        <div class="text-center md:text-right">
          {
            next && (
              <a
                href={`/${next.slug}`}
                class="flex flex-col p-4 hover:text-purple-800"
              >
                <span>Selanjutnya</span>
                <span class="font-semibold text-lg">{next.data.title}</span>
              </a>
            )
          }
        </div>
      </nav>
    </aside>
    <Footer />
  </Fragment>
</CourseLayout>
