---
import GlobalStyles from "src/components/GlobalStyles.astro";
import Navbar from "src/components/Navbar.astro";
import Footer from "src/components/Footer.astro";
import LearningPath from "src/components/LearningPath.astro";
import { linkTo } from "../utils/url";
import { FORUM_LINKS } from "../config";

const productHighlights = [
  {
    icon: "🧗",
    title: "Alur pembelajaran terstruktur",
    description: `
      Ingin bisa pemrograman untuk analisis data atau bikin software? 
      Belajar lebih terstruktur dengan mengikuti track pembelajaran yang fokus dan ringkas.
    `,
  },
  {
    icon: "📖",
    title: "Materi belajar simpel dan interaktif",
    description: `
      Belajar pemrograman susah dan ribet? 
      Selesaikan <b class="font-semibold text-purple-800">dua course</b> saja sudah cukup bikin kamu bisa ngoding beneran!
    `,
  },
  {
    icon: "🆓",
    title: "Bebas akses, bebas belajar, gratis!",
    description: `
      Kamu berhak mendapatkan akses sumber belajar yang berkualitas dengan mudah. 
      Akses semua materi di platform ini gratis tanpa biaya.
    `,
  },
  {
    icon: "😵",
    title: "Masih bingung? Kamu gak sendirian",
    description: `
      Kita mau kamu beneran bisa
      pemrograman setelah belajar dari sini. Tanyakan semua kebingungan
      kamu lewat channel diskusi kita di
      <a class="font-semibold text-purple-800" href=${FORUM_LINKS[0].link}>Github</a> dan
      <a class="font-semibold text-purple-800" href=${FORUM_LINKS[1].link}>Discord</a>.
    `,
  },
];
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="id-id" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={linkTo("apple-touch-icon.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={linkTo("favicon-32x32.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={linkTo("favicon-16x16.png")}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Semua bisa belajar pemrograman dengan platform yang simpel, terstruktur,
      dan gratis - Ayo Ngulik!
    </title>
    <meta
      name="description"
      content="Ayo Ngulik! adalah platform belajar pemrograman yang dirancang simpel, terstruktur, fokus, dan interaktif. Bebas akses dan gratis!"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <GlobalStyles />
  </head>
  <body class="relative bg-slate-100">
    <div class="bg-slate-100/75 sticky top-0 z-10 backdrop-blur-sm">
      <div class="max-w-screen-xl mx-auto">
        <Navbar enableBorder={false} sticky={false} transparent />
      </div>
    </div>

    <main class="homepage-content">
      <header class="max-w-screen-xl text-center mx-auto my-28 md:my-32">
        <article class="px-4 mx-auto">
          <h1
            class="text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight leading-none mb-6 text-pretty font-heading"
          >
            <span>Semua bisa belajar</span>{" "}
            <span
              class="inline-flex text-purple-800 before:content-['{'] before:font-normal after:content-['}'] after:font-normal"
              >pemrograman</span
            >
          </h1>
          <p
            class="text-xl md:text-2xl text-gray-800 mb-6 md:mb-8 text-balance"
          >
            Platform belajar pemrograman yang simpel, terstruktur, dan {" "}
            <em>gratis!</em>
          </p>
          <a
            href={linkTo("#tracks")}
            class="inline-block text-lg font-heading font-semibold text-white bg-purple-600 px-14 py-2 rounded-lg hover:bg-purple-500"
          >
            Pilih track belajar
          </a>
        </article>
      </header>

      <section
        class="my-14 flex flex-col sm:flex-row gap-6 md:gap-4 max-w-screen-lg px-4 mx-auto md:my-12"
      >
        <div class="flex-1">
          <h2
            class=`relative text-2xl md:text-3xl font-semibold text-gray-900 mx-auto mb-4 md:mb-6 tracking-tight font-heading`
          >
            Bingung belajar pemrograman? Jangan menyerah dulu...
          </h2>
          <p class="text-lg md:text-xl text-gray-800 text-pretty">
            Belajar pemrograman itu memang bikin pusing karena materinya banyak
            banget. Belajar akan lebih mudah kalau ada panduan dan materi yang
            lebih simpel.
          </p>
        </div>
        <figure>
          <img
            class="max-w-[200px] flex-none"
            src={linkTo("images/illus-1.png")}
          />
        </figure>
      </section>

      <section class="py-14 md:py-16 bg-slate-300 text-gray-800">
        <header
          class="max-w-screen-lg mx-auto text-left md:text-center mb-10 md:mb-12 px-4"
        >
          <h2
            class=`relative text-2xl md:text-3xl font-semibold text-gray-900  mb-4 md:mb-6 tracking-tight font-heading`
          >
            Mudah belajarnya. Cepat dapat skillnya.
          </h2>
          <p class="text-lg md:text-xl text-gray-800 text-balance">
            Semua materi di website ini dirancang khusus agar kamu dapat
            menyerap skill pemrograman dengan lebih mudah. Bebas belajar kapan
            aja!
          </p>
        </header>
        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-screen-lg mx-auto px-4 md:px-0"
        >
          {
            productHighlights.map((item, index) => (
              <div class="py-6 px-4 shadow bg-slate-200 rounded-lg">
                <div class="mb-6">
                  <span class="rounded-full p-2 bg-slate-300 text-lg md:text-xl">
                    {item.icon}
                  </span>
                </div>
                <h2 class="text-xl md:text-2xl font-heading font-semibold mb-3 md:mb-4 text-gray-900 tracking-tight text-balance">
                  {item.title}
                </h2>
                <p class="md:text-lg text-pretty" set:html={item.description} />
              </div>
            ))
          }
        </div>
      </section>

      <section id="tracks" class="py-14 md:py-16">
        <div class="max-w-screen-xl mx-auto px-4">
          <img
            class="max-w-[250px] mb-4 md:mx-auto"
            src={linkTo("images/illus-2.png")}
          />
          <h2
            class="text-2xl md:text-3xl font-heading font-semibold text-gray-900 text-left md:text-center max-w-screen-md mx-auto mb-6 md:mb-10 tracking-tight text-balance"
          >
            Pilih skill yang kamu mau, lalu ikuti track belajarnya.
          </h2>
          <p
            class="text-lg lg:text-xl text-left md:text-center max-w-screen-md mx-auto mb-10 text-pretty md:text-balance"
          >
            Tamatkan <b class="font-semibold text-purple-900"
              >dua course pertama</b
            > untuk mendapatkan skill dasar. Pelajari course tambahan untuk meningkatkan
            skill kamu lebih jauh lagi.
          </p>
          <LearningPath />
        </div>
      </section>
    </main>

    <Footer class="max-w-screen-xl" />
    <script src="../scripts/home.ts"></script>
    <script src="../scripts/link.ts"></script>
  </body>
</html>
