---
import { LEARNING_TRACKS } from "../config";
import LearningPathItems from "./LearningPathItems.astro";

const skills = [
  { id: 1, name: "Analisis Data", slug: "analisis-data" },
  { id: 2, name: "Web Development", slug: "web-dev" },
];

type Track = keyof typeof LEARNING_TRACKS;
const tracks = skills.map((skill) => skill.slug) as Track[];

const selectedSkill = skills[0].slug;
---

<div class="mx-auto flex md:items-center flex-col mb-4 md:mb-10">
  <label class="block mb-1" for="skill-select">
    Belajar pemrograman untuk:
  </label>

  <div class="max-w-48 md:mx-auto">
    <select
      id="skill-select"
      class="bg-gray-50 border-2 border-gray-200 rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5"
    >
      {
        skills.map((skill, index) => (
          <option selected={index === 0} value={skill.slug}>
            {skill.name}
          </option>
        ))
      }
    </select>
  </div>
</div>

<div class="relative overflow-x-auto">
  <div class="max-w-screen-lg mx-auto text-left">
    <ol>
      {
        tracks.map((key) => (
          <div
            class:list={[{ hidden: selectedSkill != key }]}
            data-skill-courses={key}
          >
            <LearningPathItems data={LEARNING_TRACKS[key]} track={key} />
          </div>
        ))
      }
    </ol>
  </div>
</div>

<p class="text-left md:text-center text-sm mt-8">
  * Beberapa course dan materi masih dalam tahap pengembangan.
</p>
