---
import Logo from "./Logo.astro";
import NavbarLink from "./NavbarLink.astro";
import Breadcrumb from "./Breadcrumb.astro";
import { linkTo } from "../utils/url";
import { FORUM_LINKS } from "../config";

interface Props {
  enableBorder?: boolean;
  enableCourseMode?: boolean;
  transparent?: boolean;
  sticky?: boolean;
}

const {
  enableBorder = true,
  enableCourseMode = false,
  sticky = true,
  transparent = false,
} = Astro.props;
---

<nav
  class:list={[
    "w-full flex items-center z-10",
    { "sticky top-0 left-0": sticky },
    { "box-border border-b-2 border-gray-200": enableBorder },
    { "bg-white": !transparent },
  ]}
>
  <section class="flex-none flex px-4">
    {
      enableCourseMode && (
        <button
          id="button-menu"
          class="block mr-4 hover:text-purple-800 lg:hidden lg:m-0"
          onclick="onButtonMenuClick()"
        >
          <svg
            class="w-8 h-8"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M9 8h10M9 12h10M9 16h10M4.99 8H5m-.02 4h.01m0 4H5"
            />
          </svg>
        </button>
      )
    }
    <Logo />

    <slot />
  </section>

  <section class="flex-1">
    <ul class="flex flex-row-reverse items-center">
      {
        enableCourseMode ? (
          <>
            <li class="flex relative">
              <button
                id="button-share"
                class="p-[0.875rem] hover:text-purple-800"
              >
                <svg
                  class="w-6 h-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4.248 19C3.22 15.77 5.275 8.232 12.466 8.232V6.079a1.025 1.025 0 0 1 1.644-.862l5.479 4.307a1.108 1.108 0 0 1 0 1.723l-5.48 4.307a1.026 1.026 0 0 1-1.643-.861v-2.154C5.275 13.616 4.248 19 4.248 19Z"
                  />
                </svg>
              </button>

              <div
                id="popup-share"
                class="absolute top-16 right-2 rounded-lg border border-gray-200 shadow-lg p-4 bg-white w-24 hidden"
              >
                <ul class="flex flex-col items-center gap-4">
                  <li>
                    <button
                      class="flex flex-col items-center gap-2"
                      data-social="twitter"
                    >
                      <span class="p-2 rounded-full bg-purple-100 hover:bg-purple-200">
                        <svg
                          class="w-5 h-5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <path d="M18.42,14.009L27.891,3h-2.244l-8.224,9.559L10.855,3H3.28l9.932,14.455L3.28,29h2.244l8.684-10.095,6.936,10.095h7.576l-10.301-14.991h0Zm-3.074,3.573l-1.006-1.439L6.333,4.69h3.447l6.462,9.243,1.006,1.439,8.4,12.015h-3.447l-6.854-9.804h0Z" />
                        </svg>
                      </span>
                      <span class="text-xs">Twitter/X</span>
                    </button>
                  </li>
                  <li>
                    <button
                      class="flex flex-col items-center gap-2"
                      data-social="facebook"
                    >
                      <span class="p-2 rounded-full bg-purple-100 hover:bg-purple-200">
                        <svg
                          class="w-5 h-5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <path d="M16,2c-7.732,0-14,6.268-14,14,0,6.566,4.52,12.075,10.618,13.588v-9.31h-2.887v-4.278h2.887v-1.843c0-4.765,2.156-6.974,6.835-6.974,.887,0,2.417,.174,3.043,.348v3.878c-.33-.035-.904-.052-1.617-.052-2.296,0-3.183,.87-3.183,3.13v1.513h4.573l-.786,4.278h-3.787v9.619c6.932-.837,12.304-6.74,12.304-13.897,0-7.732-6.268-14-14-14Z" />
                        </svg>
                      </span>
                      <span class="text-xs">Facebook</span>
                    </button>
                  </li>
                  <li>
                    <button
                      class="flex flex-col items-center gap-2"
                      data-social="linkedin"
                    >
                      <span class="p-2 rounded-full bg-purple-100 hover:bg-purple-200">
                        <svg
                          class="w-5 h-5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <path
                            d="M26.111,3H5.889c-1.595,0-2.889,1.293-2.889,2.889V26.111c0,1.595,1.293,2.889,2.889,2.889H26.111c1.595,0,2.889-1.293,2.889-2.889V5.889c0-1.595-1.293-2.889-2.889-2.889ZM10.861,25.389h-3.877V12.87h3.877v12.519Zm-1.957-14.158c-1.267,0-2.293-1.034-2.293-2.31s1.026-2.31,2.293-2.31,2.292,1.034,2.292,2.31-1.026,2.31-2.292,2.31Zm16.485,14.158h-3.858v-6.571c0-1.802-.685-2.809-2.111-2.809-1.551,0-2.362,1.048-2.362,2.809v6.571h-3.718V12.87h3.718v1.686s1.118-2.069,3.775-2.069,4.556,1.621,4.556,4.975v7.926Z"
                            fill-rule="evenodd"
                          />
                        </svg>
                      </span>
                      <span class="text-xs">Linkedin</span>
                    </button>
                  </li>
                  <li>
                    <button
                      class="flex flex-col items-center gap-2"
                      data-social="whatsapp"
                    >
                      <span class="p-2 rounded-full bg-purple-100 hover:bg-purple-200">
                        <svg
                          class="w-5 h-5"
                          xmlns="http://www.w3.org/2000/svg"
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                        >
                          <path
                            d="M25.873,6.069c-2.619-2.623-6.103-4.067-9.814-4.069C8.411,2,2.186,8.224,2.184,15.874c-.001,2.446,.638,4.833,1.852,6.936l-1.969,7.19,7.355-1.929c2.026,1.106,4.308,1.688,6.63,1.689h.006c7.647,0,13.872-6.224,13.874-13.874,.001-3.708-1.44-7.193-4.06-9.815h0Zm-9.814,21.347h-.005c-2.069,0-4.099-.557-5.87-1.607l-.421-.25-4.365,1.145,1.165-4.256-.274-.436c-1.154-1.836-1.764-3.958-1.763-6.137,.003-6.358,5.176-11.531,11.537-11.531,3.08,.001,5.975,1.202,8.153,3.382,2.177,2.179,3.376,5.077,3.374,8.158-.003,6.359-5.176,11.532-11.532,11.532h0Zm6.325-8.636c-.347-.174-2.051-1.012-2.369-1.128-.318-.116-.549-.174-.78,.174-.231,.347-.895,1.128-1.098,1.359-.202,.232-.405,.26-.751,.086-.347-.174-1.464-.54-2.788-1.72-1.03-.919-1.726-2.054-1.929-2.402-.202-.347-.021-.535,.152-.707,.156-.156,.347-.405,.52-.607,.174-.202,.231-.347,.347-.578,.116-.232,.058-.434-.029-.607-.087-.174-.78-1.88-1.069-2.574-.281-.676-.567-.584-.78-.595-.202-.01-.433-.012-.665-.012s-.607,.086-.925,.434c-.318,.347-1.213,1.186-1.213,2.892s1.242,3.355,1.416,3.587c.174,.232,2.445,3.733,5.922,5.235,.827,.357,1.473,.571,1.977,.73,.83,.264,1.586,.227,2.183,.138,.666-.1,2.051-.839,2.34-1.649,.289-.81,.289-1.504,.202-1.649s-.318-.232-.665-.405h0Z"
                            fill-rule="evenodd"
                          />
                        </svg>
                      </span>
                      <span class="text-xs">Whatsapp</span>
                    </button>
                  </li>

                  <li>
                    <button
                      class="flex flex-col items-center gap-2"
                      data-social="copy-to-clipboard"
                    >
                      <span class="p-2 rounded-full bg-purple-100 hover:bg-purple-200">
                        <svg
                          class="w-6 h-6"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          fill="none"
                          viewBox="0 0 24 24"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
                          />
                        </svg>
                      </span>
                      <span class="text-xs whitespace-nowrap">Copy Link</span>
                    </button>
                  </li>
                </ul>
              </div>
            </li>

            <li class="flex relative">
              <button
                id="button-tanya"
                class="p-[0.875rem] hover:text-purple-800"
              >
                <svg
                  class="w-6 h-6"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M16 10.5h.01m-4.01 0h.01M8 10.5h.01M5 5h14a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1h-6.6a1 1 0 0 0-.69.275l-2.866 2.723A.5.5 0 0 1 8 18.635V17a1 1 0 0 0-1-1H5a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                  />
                </svg>
              </button>

              <div
                id="popup-tanya"
                class="absolute top-16 right-2 rounded-lg border border-gray-200 shadow-lg p-4 bg-white min-w-24 hidden"
              >
                <p class="text-sm mb-4 whitespace-nowrap">
                  Bingung? Tanya kita di:
                </p>

                <ul class="flex flex-col gap-4">
                  {FORUM_LINKS.map((item) => (
                    <li>
                      <a
                        class="flex items-center gap-2 text-gray-800 hover:text-purple-800"
                        href={item.link}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <Fragment set:html={item.icon} />
                        <span class="text-sm">{item.name}</span>
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </li>

            <div class="hidden sm:flex">
              <li class="flex">
                <NavbarLink href={linkTo("#tracks")}>Track Belajar</NavbarLink>
              </li>

              <span class="bg-gray-200 w-[0.1rem] my-4 mx-3" />
            </div>
          </>
        ) : (
          <div class="flex">
            <li class="flex">
              <NavbarLink href={linkTo("#tracks")}>Track Belajar</NavbarLink>
            </li>

            <li class="flex relative">
              <button
                id="button-tanya"
                class="text-sm inline-flex items-center gap-1 font-semibold hover:text-purple-700 p-4"
              >
                Tanya-Tanya
                <svg
                  class="w-5 h-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m8 10 4 4 4-4"
                  />
                </svg>
              </button>
              <div
                id="popup-tanya"
                class="absolute top-16 right-2 rounded-lg border border-gray-200 shadow-lg p-4 bg-white min-w-24 hidden"
              >
                <p class="text-sm mb-4 whitespace-nowrap">
                  Bingung? Tanya kita di:
                </p>

                <ul class="flex flex-col gap-4">
                  {FORUM_LINKS.map((item) => (
                    <li>
                      <a
                        class="flex items-center gap-2 text-gray-800 hover:text-purple-800"
                        href={item.link}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <Fragment set:html={item.icon} />
                        <span class="text-sm">{item.name}</span>
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </li>
          </div>
        )
      }
    </ul>
  </section>
</nav>
